*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lora;
}
.brand{
    height: 13vh;
    padding: 10px;
    padding-left: 50px;
}
.navbar-nav{
    margin-left: 150px !important;
    gap: 20px;
}
.nav-btn{
    background-color: #6D1830;
    color: #FFFFFF;
    margin-right: 140px !important;
    border-radius: 3px !important;
}
.nav-link:hover{
    color: #6D1830 !important;
}

.first-section{
    background-color: #14394c;
    display: flex;
    gap: 90px;
    padding: 60px;
    height: 45vh;
}
.first-section-text{
    color: #FFFFFF;
    margin-left: 50px !important;
}
.first-section-img{
    width: 30% !important;
    margin-left: 420px !important;
}

.article-image{
    width: 100% !important;
}
.article-head{
    margin-bottom: 40px;
    margin-left: 15px;
}

.second-section{
    padding: 50px;
    margin-left: 55px !important;
}
.real-estate-img{
    width: 90%;
}
.second-section-para{
    font-size: 12px;
}
.second-section-head{
    margin-bottom: 40px !important;
}

.third-section{
    padding: 20px 120px !important;
}
.o-list{
    margin-left: -12px;
}
.sushi-head{
    margin: 20px 0;
}
.u-list{
    margin-left: -12px;
}
.game-dev{
    background-color: #FFF9F2;
    display: flex;
    padding: 50px;
    gap: 30px;
    margin-top: 50px;
}
.dev-icons{
    margin-right: 10px;
}


.fourth-section{
    padding: 50px 100px;
    margin-left: 20px;
}
.card-div{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.card{
    border: none;
}
.avatars{
    display: flex;
    gap: 10px;
}
.avatar-img{
    width: 15%;
    height: 7vh;
    margin-top: 10px;
}
.pagination{
    width: 100% !important;
}
.page-link{
    border: none;
    width: 100% !important;
    margin-right: 10px;
    color: black;
}
.fourth-section-head{
    display: flex;
    gap: 520px;
}
#article-btn{
    border-radius: 4px !important;
    color: #6D1830;
    border-color: #6D1830;
    font-weight: 600 !important;
    border: 2px solid;
}


.fifth-section{
    background-color: #6D1830;
    color: #FFFFFF;
    height: 40vh;
    display: flex;
}
.fifth-section1{
    padding: 70px;
}
.fifth-section2{
    padding: 70px !important;
}
.email{
    width: 150% !important;
    margin-left: -10px !important;
}
.footer{
    display: flex;
    gap: 380px;
}
.footer1{
    padding: 90px;

}
.footer-img{
    width: 50px !important;
}
.footerlist{
    list-style: none;
    text-decoration: none !important;
    display: flex;
    gap: 35px;
    margin-top: 30px !important;
}
.footerlists{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.footer2{
    width: 100%;
    padding: 90px;
}
.footer2-img{
    width: 70% !important;
}
.footer2-text{
    font-size: 18px !important;
}
.footer-icon{
    padding: 20px;
    margin-left: 70px;
}
.footer-icons{
    margin-right: 10px;
}
.footer-2{
    display: flex;
    gap: 645px;
}
.term-poli{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.term-poli-links{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:820px) {
    .brand{
        width: 100%;
        height: 10vh;
        margin-left: -10px !important;
    }
    .navbar-toggler{
        width: 15% !important;
        height: 7vh;
        margin-right: 50px !important;
    }
    .first-section{
        height: 32vh;
        display: grid;
        gap: 40px;
    }
    .first-section-img{
        display: none;
    }
    .first-section-text{
        margin-left: 5px !important;
        padding-top: 30px;
    }
    .blog-head{
        font-size: 65px;
    }
    .blog-para{
        font-size: 35px;
    }
    .second-section-head{
        font-size: 60px;
        margin-left: -43px !important;
        font-weight: bold;
    }
    .second-section-para{
        font-size: 37px;
        margin-left: -43px !important;
    }
    .real-estate-img{
        margin-left: -40px;
        border-radius: 15px;
        height: 35vh;
        width: 105% !important;
    }
    .third-section{
        margin-left: -40px;
    }
    .third-section-para{
        font-size: 35px;
        width: 105% !important;
        margin: 30px 0;
    }
    .list-items{
        font-size: 33px;
    }
    .sushi-head{
        font-size: 45px;
        font-weight: 600;
    }
    .third-section-head{
        font-size: 35px;
        width: 105% !important;
        font-weight: 600;
        margin: 30px 0;
    }
    .game-dev{
        height: 70vh;
        width: 109% !important;
        display: grid;
        gap: 10px;
    }
    .game-dev-img{
        width: 35%;
    }
    .game-dev-text{
        margin-top: -20px !important;
    }
    .game-dev-head{
        font-size: 55px;
        font-weight: bold;
    }
    .game-dev-para{
        font-size: 35px;
    }
    .dev-icons{
        font-size: 60px;
        margin-right: 30px;
    }
    .fourth-section{
        margin-left: -40px;
        width: 105% !important;
    }
    .fourth-section-head{
        display: grid;
        gap: 50px;
    }
    .article-head{
        font-size: 60px;
        font-weight: bold;
    }
    #article-btn{
        font-size: 40px;
        width: 70% !important;
        height: 12vh;
        border: 5px solid;
        margin-left: 15px;
        margin-bottom: 80px;
    }
    .card-div{
        display: grid;
        gap: 30px;
        width: 105% !important;
    }
    .card{
        width: 105% !important;
        margin-left: -20px;
    }
    .card-body{
        margin-left: 30px;
    }
    .card-body-1{
        margin-top: 60px;
        margin-left: 15px;
    }
    .card-title{
        font-size: 50px;
    }
    .card-text{
        font-size: 40px;
    }
    .img-top{
        margin-left: 30px;
        width: 90% !important;
    }
    .avatars{
        display: flex;
        gap: 30px;
    }
    .avatar-img{
        width: 18% !important;
        height: 10vh;
    }
    .avatar-para{
        margin-top: 20px;
        font-size: 35px;
    }
    .fifth-section{
        display: grid;
    }
    .subscribe-head{
        font-size: 48px;
    }
    .subscribe-para{
        font-size: 38px;
    }
    .email{
        width: 90% !important;
        margin-left: -10px !important;
        margin-top: -120px !important;
    }
    .form-control{
        width: 90% !important;
        height: 6vh;
        font-size: 35px;
    }
    .subscribe{
        height: 6vh;
        width: 110% !important;
        font-size: 30px;
    }
    .footer{
        display: grid;
        gap: 80px;
        margin-left: -40px;
    }
    .footer-img{
        width: 12% !important;
    }
    .footerlist{
        display: flex;
        gap: 55px;
        margin-top: 80px !important;
    }
    .footerlists{
        font-size: 35px;
        font-weight: bold;
    }
    .footer2{
        width: 80%;
        margin-top: -170px !important;
    }
    .footer2-text{
        font-size: 33px !important;
    }
    .footer2-img{
        width: 70% !important;
    }
    .hr{
        margin-top: -10px;
    }
    .footer-icons{
        font-size: 60px;
        margin-right: 40px;
    }
    .footer-2{
        display: grid;
        gap: 65px;
        margin-left: -40px;
    }
    .term-poli{
        display: flex;
        gap: 100px;
        margin-left: 90px;
        font-size: 40px;
    }
}
@media screen and (max-width:414px) {
    .navbar{
        width: 180% !important;
    }
    .brand{
        width: 100% !important;
        height: 15vh;
    }
    .first-section{
        width: 180% !important;
        height: 40vh;
    }
    .second-section{
        width: 165% !important;
    }
    .real-estate-img{
        height: 45vh;
    }
    .third-section{
        width: 180% !important;
    }
    .third-section-para{
        width: 120% !important;
    }
    .list-items{
        width: 120% !important;
    }
    .sushi-head{
        width: 120% !important;
    }
    .game-dev{
        width: 120% !important;
        height: 100vh;
    }
    hr{
        width: 180% !important;
    }
    .fourth-section{
        width: 180% !important;
    }
    .fifth-section{
        width: 180% !important;
        height: 60vh;
    }
    .subscribe-head{
        font-size: 40px;
    }
    .subscribe-para{
        font-size: 33px;
    }
    .email{
        width: 108% !important;
    }
    .form-control{
        width: 120% !important;
    }
    .footer{
        width: 180% !important;
    }
    .footer-icons{
        font-size:40px;
    }
    .term-poli{
        width: 135% !important;
        gap: 50px;
    }
    .term-poli-links{
        text-decoration: none;
        color: black;
    }
}
@media screen and (max-width:390px) {
    .first-section{
        width: 188% !important;
    }
    .second-section{
        width: 170% !important;
    }
    .game-dev{
        width: 130% !important;
    }
    .fourth-section{
        width: 185% !important;
    }
    .fifth-section{
        width: 188% !important;
    }
    .footer-icon{
        width: 120% !important;
    }
    .footer-icons{
        font-size: 45px;
    }
}
@media screen and (max-width:376px) {
    .first-section{
        width: 195% !important;
        height: 50vh;
    }
    .third-section{
        width: 190% !important;
    }
    .game-dev{
        height: 130vh;
    }
    .fourth-section{
        width: 190% !important;
    }
    .fifth-section{
        width: 195% !important;
    }
    .form-control{
        height: 10vh;
    }
    .subscribe{
        height: 10vh;
    }
}
@media screen and (max-width:280px) {
    .navbar{
        width: 260% !important;
    }
    .brand{
        width: 110% !important;
    }
    .first-section{
        width: 260% !important;
        height: 55vh;
    }
    .second-section{
        width: 240% !important;
    }
    .third-section{
        width: 260% !important;
    }
    .third-section-para{
        font-size: 40px;
    }
    .list-items{
        font-size: 40px;
    }
    .third-section-head{
        font-size: 40px;
    }
    .game-dev{
        width: 120% !important;
        height: 160vh;
    }
    .game-dev-para{
        font-size: 42px;
    }
    .fourth-section{
        width: 250% !important;
    }
    .card-div{
        width: 120% !important;
    }
    .card-text{
        font-size: 45px;
    }
    .avatar-img{
        height: 15vh;
    }
    .fifth-section{
        width: 262% !important;
    }
    .subscribe-para{
        font-size: 36px;
    }
    .footer2-text{
        font-size: 37px !important;
        font-weight: bold;
    }
    .term-poli{
        width: 150% !important;
    }
}
